<!-- @format -->

<script>
  import {onMount, createEventDispatcher} from 'svelte'

  import {entries} from '../stores'
  import {parseDate, formatDate} from '../helpers'
  import Datepicker from './Datepicker.html'
  import AutosizeInput from './AutosizeInput.html'
  import SelectOrCustom from './SelectOrCustom.html'

  const metadata = window.metadata

  const dispatch = createEventDispatcher()

  export var value = {
    time: new Date(),
    pos: metadata.characters[0],
    method: '',
    params: {}
  }

  export let selected

  let initial
  onMount(() => {
    initial =
      value.time.toISOString() + value.method + JSON.stringify(value.params)
  })
  $: modified =
    initial !==
    value.time.toISOString() + value.method + JSON.stringify(value.params)

  $: methodParams = metadata.methods[value.method] || []
  $: params = methodParams
    .map(name => ({name, editable: false}))
    .concat(
      Object.keys(value.params)
        .filter(
          param => param.trim().length && methodParams.indexOf(param) === -1
        )
        .map(name => ({name, editable: true}))
    )
    .concat({name: '', editable: true})

  function paramNameChangeHandler(prevName) {
    return e => {
      let newName = event.target.value
      value.params[newName] = value.params[prevName]
      delete value.params[prevName]
    }
  }

  function saveEdit(e) {
    e.preventDefault()
    delete value.params['']
    dispatch('saved', value)
  }
</script>

<style>
  form {
    padding: 0.4em 30px 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  form.selected {
    background-color: rgb(84, 116, 151, 0.5);
  }
  form > :global(*) {
    margin: 0 5px;
  }
  label {
    display: inline-flex;
    align-items: flex-end;
  }
</style>

<form id="edit" on:submit="{saveEdit}" class:selected on:click>
  <button type="submit" disabled="{!selected || !modified}">Save</button>
  <Datepicker bind:value="{value.time}" disabled="{!selected}" />
  <SelectOrCustom
    bind:value="{value.method}"
    options="{Object.keys(metadata.methods)}"
    disabled="{!selected}"
  />
  {#if params.length} {#each params as param, i (i)}
  <label>
    {#if param.editable}<AutosizeInput
      on:input="{paramNameChangeHandler(param.name)}"
      disabled="{!selected}"
    />{:else}{param.name}{/if}:<AutosizeInput
      bind:value="{value.params[param.name]}"
      disabled="{!selected}"
    />
  </label>
  {/each} {/if}
</form>
