<!-- @format -->

<script>
  import {onMount, createEventDispatcher} from 'svelte'

  import {entries} from '../stores'
  import {parseDate, formatDate, findEntriesAt} from '../helpers'
  import Datepicker from './Datepicker.html'
  import AutosizeInput from './AutosizeInput.html'
  import SelectOrCustom from './SelectOrCustom.html'

  const metadata = window.metadata

  const dispatch = createEventDispatcher()

  export var value = {
    time: new Date(),
    pos: metadata.characters[0],
    method: '',
    params: {}
  }

  export let selected

  let initial
  onMount(() => {
    initial =
      value.time.toISOString() + value.method + JSON.stringify(value.params)
  })
  $: modified =
    initial !==
    value.time.toISOString() + value.method + JSON.stringify(value.params)

  $: methodParams = metadata.methods[value.method] || []
  $: params = methodParams
    .map(name => ({name, editable: false}))
    .concat(
      Object.keys(value.params)
        .filter(
          param => param.trim().length && methodParams.indexOf(param) === -1
        )
        .map(name => ({name, editable: true}))
    )
    .concat({name: '', editable: true})

  function paramNameChangeHandler(prevName) {
    return e => {
      let newName = event.target.value
      value.params[newName] = value.params[prevName]
      delete value.params[prevName]
    }
  }

  function saveEdit(e) {
    e.preventDefault()

    delete value.params['']

    let matched = findEntriesAt($entries, value.time)
    if (matched.length !== 0) {
      let lastpos = matched[matched.length - 1].pos || '~'
      let lastchar = lastpos[lastpos.length - 1]
      let charindex = metadata.characters.indexOf(lastchar)
      if (charindex + 1 > metadata.characters.length) {
        value.pos = lastpos + metadata.characters[0]
      } else {
        value.pos =
          lastpos.slice(0, lastpos.length - 1) +
          metadata.characters[charindex + 1]
      }
    }

    console.log('save', value)
    dispatch('saved', value)
  }
</script>

<style>
  form {
    margin-bottom: 10px;
    padding: 0.4em 30px 0.3em;
  }
  form.selected {
    background-color: rgb(84, 116, 151, 0.5);
  }
  .params {
    display: inline;
  }
  label {
    margin-right: 10px;
  }
</style>

<form id="edit" on:submit="{saveEdit}" class:selected="{selected}">
  <button type="submit" disabled="{!modified}">Save</button>
  <Datepicker bind:value="{value.time}" />
  <SelectOrCustom
    bind:value="{value.method}"
    options="{Object.keys(metadata.methods)}"
  />
  {#if methodParams.length}
  <div class="params">
    {#each params as param, i (i)}
    <label>
      {#if param.editable}<AutosizeInput
        on:input="{paramNameChangeHandler(param.name)}"
      />{:else}{param.name}{/if}:<AutosizeInput
        bind:value="{value.params[param.name]}"
      />
    </label>
    {/each}
  </div>
  {/if}
</form>
