:root {
  --lightgrey: #efeaec;
  --grey: #9ea3b0;
  --softblue: #586ba4;
  --darkblue: #324376;
  --yellow: #f5dd90;
}

* {
  box-sizing: border-box;
  font-family: monospace;
}
html {
  margin: 50px 0;
  padding: 0;
}
body {
  width: 100%;
  margin: auto;
  font-size: 1.1em;
}
a {
  cursor: pointer;
  color: var(--darkblue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
textarea {
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
}
input,
textarea {
  min-width: 30px !important;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toastify { max-width: 100%; }
.toastify pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.toast-info { background: #726edb !important; }
.toast-warning { background: #cfdb6e !important; }
.toast-error { background: #db6e6e!important; }
.toast-success { background: #6edb91!important; }

.djt-Content { text-align: left; }
.djt-Property_Key,
.djt-Property_Type {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
